.header {
  width: 100%;
  background-color: #343235;
  min-height: 3rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header nav {
  padding: 1.5rem;
}

.header nav li {
  display: inline;
  margin-right: 1.2rem;
}

.header nav li a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.header nav li a:hover,
.header nav li a.active {
  color: #bab6b6;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid #bab6b6;
}
